@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    --hijau-utama: rgba(29,154,108,1);
    --hijau-utama-trans: rgba(29,154,108,.1);
    --hijau-tua: rgba(20,108,76,1);
    --hijau-tua-trans: rgba(29,154,108,.1);
}
h4 {
    font-weight: 700 !important;
    font-size: 2rem !important;
}
h5 {
    font-weight: 600 !important;
    font-size: 1.25rem !important;
}
h6 {
    font-weight: 600 !important;
    line-height: 150% !important;
    font-size: 1rem;
}
p {
    font-weight: 400 !important;
    line-height: 150% !important;
    font-size: 1rem;
}
.text-body-2 {
    font-weight: 400;
    line-height: 150%;
    font-size: 0.9rem ;
}
body {
    background-color: #F7F7F7 !important;
    min-height: 100vh;
}
main {
    max-width: 550px;
    margin: 0 auto;
}
main .section:first-child {
    margin-top: 70px;
    padding: 0 !important;
}
.section {
    padding: 24px 16px !important;
}
.columns .column {
    padding: .5rem;
}
#header,
#nav-features a {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
}
#nav-features a,
#nav-features a .box,
#tracker .column .box {
    border-radius: 3px;
}



/* Navbar */
#header {
    background-color: var(--hijau-utama);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}
#header .navbar {
    background-color: var(--hijau-utama);
    max-width: 550px;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}
#header .navbar-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 70px);
}
#header .navbar-start .navbar-item {
    padding: .5rem;
    color:  var(--hijau-tua);
    opacity: .8;
    margin: .5rem 0;
}
#header .navbar-start .navbar-item:hover {
    background-color:  var(--hijau-tua-trans);
    color: var(--hijau-tua);
}



/* Halaman Beranda */
/* Banner */
#banner {
    max-width: 100%;
    height: auto;
}

/* Navigation Features */
#nav-features {
    padding-top: 48px !important;
}
#nav-features .columns .column a {
    display: block;
    padding: 1rem;
    background-color: var(--hijau-utama);
    color: white;
}
#nav-features .column a .box {
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    --hijau-tua-trans: rgba(20, 108, 76, .8);
    background: var(--hijau-tua-trans);
}

/* Tracker */
#tracker,
#tracker p {
    color: black;
}
#tracker .column .box {
    box-shadow: none;
}
#tracker .columns .column:nth-child(2) .box h4 {
    color: #FFAB00;
}
#tracker .columns .column:nth-child(3) .box h4 {
    color: #FF8F00;
}
#tracker .columns .column:nth-child(4) .box h4 {
    color: #146C4C;
}
#tracker .columns .column:nth-child(5) .box h4 {
    color: #D50000;
}



/* Responsive */
@media only screen and (max-width: 600px) {

}