@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    background-color: #F7F7F7 !important;
    --hijau-utama: rgba(29,154,108,1);
    --hijau-tua: rgba(20,108,76,1);
    --hijau-tua-trans: rgba(29,154,108,.08);
}
h4 {
    font-weight: 700 !important;
    font-size: 2rem !important;
}
h5 {
    font-weight: 600 !important;
    font-size: 1.25rem !important;
}
h6 {
    font-weight: 600 !important;
    line-height: 150% !important;
    font-size: 1rem;
}
p {
    font-weight: 400 !important;
    line-height: 150% !important;
    font-size: 1rem;
}
.text-body-2 {
    font-weight: 400;
    line-height: 150% !important;
    font-size: 0.9rem !important;
}
main {
    max-width: 550px;
    margin: 70px auto 0;
}
.section {
    padding: 24px 16px !important;
}
.columns .column {
    padding: .5rem;
}
.card {
    box-shadow: none !important;
}
#header,
#nav-features a,
#kontak .button,
.daftar,
#form .button-next,
#summary-daftar {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .15);
}
#nav-features a,
#nav-features a .box,
#tracker .column .box,
#artikel .card,
#kontak .card,
#kontak .button,
#list-dokter .card,
#list-dokter .card .img,
.daftar #title .steps span,
#form .wrapper .item label,
#form .button,
#form .wrapper .item input,
#summary-daftar {
    border-radius: 3px;
}
hr {
    margin: .5rem 0 !important;
    display: block ;
    height: 3px ;
    width: 100% ;
    background-color: rgba(0, 0, 0, .1) !important;
}


/* Navbar */
#header {
    background-color: var(--hijau-utama);
    height: 70px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 9;
}
#header .navbar {
    background-color: var(--hijau-utama);
    max-width: 550px;
    padding: 0 1rem;
    margin: 0 auto;
    position: relative;
}
#header .navbar-menu {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 70px);
}
#header .navbar-start .navbar-item {
    padding: .5rem;
    color:  var(--hijau-tua);
    opacity: .8;
    margin: .5rem 0;
}
#header .navbar-start .navbar-item:hover {
    background-color:  var(--hijau-tua-trans);
    color: var(--hijau-tua);
}


/* Breadcumb */
#breadcrumb {
    margin-bottom: 1rem ;
}
#breadcrumb ul a {
    color: var(--hijau-tua);
}


/* page Header */
#page-header {
    padding: 1rem !important;
}
#page-header #title {
    color: black;
}



/* Halaman Beranda */
/* Banner */
#banner {
    padding: 0 !important;
}
#banner img {
    max-width: 100%;
    width: 550px;
}

/* Navigation Features */
#nav-features {
    padding-top: 48px !important;
}
#nav-features .columns .column a {
    display: block;
    padding: 1rem;
    background-color: var(--hijau-utama);
    color: white;
}
#nav-features .column a .box {
    padding: 1rem;
    margin-bottom: 1rem;
    color: white;
    --hijau-tua-trans: rgba(20, 108, 76, .5);
    background: var(--hijau-tua-trans);
}

/* Tracker */
#tracker,
#tracker p {
    color: black;
}
#tracker .column .box {
    box-shadow: none;
}
#tracker .columns .column:nth-child(2) .box h4 {
    color: #FFAB00;
}
#tracker .columns .column:nth-child(3) .box h4 {
    color: #FF8F00;
}
#tracker .columns .column:nth-child(4) .box h4 {
    color: #146C4C;
}
#tracker .columns .column:nth-child(5) .box h4 {
    color: #D50000;
}

/* Artikel Kesehatan */
#artikel .swiper {
    width: 100%;
    height: 100%;
}
#artikel .card {
    width: 60%;
    display: block;
    color: black;
}
#artikel .card:hover .content h6 {
    text-decoration: underline;
}
#artikel .card .card-image{
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
#artikel .card .card-content {
    padding: 1rem;
}
#artikel .card .card-footer {
    display: flex;
    align-items: center;
    border: none;
}
#artikel .tag-kategori,
#summary-daftar .tag-kategori {
    background-color: var(--hijau-tua-trans);
    color: var(--hijau-utama);
    margin-right: 1rem;
}
#artikel .navigation a {
    display: flex;
    align-items: center;
    color: var(--hijau-tua);
    width: 40%;
}
#artikel .navigation a h6 {
    margin-right: .5rem;
    transition: .1s linear;
}
#artikel .navigation a:hover h6 {
    margin-right: 1rem;
}

/* Contact */
#kontak h6 {
    color: black;
    margin-bottom: .5rem;
}
#kontak .button {
    background: var(--hijau-tua);
    color: white;
    padding: 16px;
}   



/* Halaman Artikel Kesehatan */
#artikel-page #artikel .card {
    width: 100%;
}
#artikel .card .card-image{
    height: 250px;
}



/* Halaman Konsultasi */
/* Header */
.konsul #title p {
    opacity: .6;
    margin-top: .25rem;
}

/* List Dokter */
#list-dokter .columns .column .card {
    display: block;
    color: black;
}
#list-dokter .columns .column .card .card-content {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}
#list-dokter .columns .column .card .card-content .img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 60px;
    width: 60px;
    margin-right: 1rem;
}



/* Halaman Daftar */
/* Header */
.daftar {
    background-color: white;
}
.daftar #title .wrapper,
.daftar #title .steps {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.daftar #title .wrapper a h6 {
    margin-left: .5rem;
    color: var(--hijau-tua);
}
.daftar #title .steps span {
    display: block;
    height: 5px;
    width: 50%;
    background-color: var(--hijau-utama);
    margin-top: 1rem;
}
.daftar #title .steps span:last-child {
    margin-left: 1rem;
    opacity: .1;
}

/* Form */
#form {
    color: black;
    padding-bottom: 0 !important;
}
#form .wrapper {
    display: none;
}
#form .active {
    display: block !important;
}

/* Form Button */
#grup-button .button {
    height: 44px;
}
#grup-button .button-main {
    background-color: var(--hijau-tua);
    color: white;
}
#grup-button .button-second {
    margin-right: 1rem;
    background-color: transparent;
    border: none;
    color: var(--hijau-tua);
}
#form .horizontal-position {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: row;
}
.vertical-position {
    margin: 1.5rem 0;
    display: flex;
    flex-direction: column;
}
#form .single-button .button {
    width: 100%;
}
#form .duo-button .button {
    width: 50%;
}

/* Input Radio */
#form .item input[type=radio] {
    display: none;
}
#form .item .form-check-label {
    color: inherit;
    display: block;
    padding: 1rem;
    background-color: white;
    --hijau-tua-trans: rgba(20,108,76,.2);
    border: 1px solid var(--hijau-tua-trans);
    margin: 1rem 0;
    position: relative;
}
#form .item .form-check-label .dot {
    height: 16px;
    width: 16px;
    border-radius: 100px;
    position: absolute;
    right: 24px;
    top: 50%;
    transform: translate(0, -50%);
    background-color: rgba(0, 0, 0, .1);
}
#form .item .form-check-label .dot::before {
    content: '';
    display: block;
    height: 8px;
    width: 8px;
    border-radius: 100px;
    background-color: var(--hijau-tua) ;
    position: absolute;
    top: 4px;
    left: 4px;
    opacity: 0;
}
#form .item input:checked ~ .form-check-label {
    background-color: var(--hijau-tua-trans) ;
    border-color:var(--hijau-tua);
}
#form .item input:checked ~ .form-check-label .dot {
    background-color: white;
}
#form .item input:checked ~ .form-check-label .dot::before {
    opacity: 1;
}

/* Form Input */
#form .data-pasien .item {
    display: flex;
    flex-direction: column;
}
#form .wrapper .item:not(:first-child) {
    margin-top: 1rem;
}
#form .wrapper .item input {
    margin-top: .5rem;
    height: 44px;
    padding: .8rem;
    font-size: 1rem;
}
#form .wrapper .item input:focus,
#form .wrapper .item input:active {
    border-color: var(--hijau-tua);
}



/* Halaman Daftar Sukses */
/* HEader */
#sukses-icon {
    color: white;
    background-color: var(--hijau-utama);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    margin: 0 auto 2rem;
}
#sukses-icon::before {
    content: "";
    height: 100px;
    width: 100px;
    background-color: var(--hijau-tua-trans);
    position: absolute;
    border-radius: 100%;
}
.daftar-sukses .text {
    color: black;
}
.daftar-sukses .text p {
    opacity: .8;
    margin-top: .5rem;
}

/* Summary Pesan */
#summary-daftar {
    margin: 2rem 1rem;
    padding: 1.5rem !important;
    background-color: white;
}
#summary-daftar .columns .column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 0;
}
#summary-daftar .columns .column h6 {
    opacity: .8;
}
#summary-daftar .columns .column p {
    margin: 0;
    color: var(--hijau-utama);
}
#grup-button {
    margin: 0;
}


/* Responsive */
@media only screen and (max-width: 600px) {
    /* Artikel Kesehatan */
    #artikel .swiper-slide {
        width: 80%;
    }
}